server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:lunchdb;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
    driverClassName: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  flyway:
    enabled: true

  h2:
    console:
      enabled: true
      path: /h2

  batch:
    job:
      enabled: false
      name: predefinedUsersJob
    jdbc:
      initialize-schema: always

app:
  predefined-users:
    csv: classpath:predefined-users.csv
